### Student Information
Name: Orison

Student ID: 106065425

Dataset Used: Sentiment Labelled Sentesces Data Set (URL:https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences)

### Instructions

- Download the dataset provided in this [link](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The sentiment dataset contains a `sentence` and `score` label. Read what the dataset is about on the link provided before you start exploring it. 


- Then, you are asked to apply each of the data exploration and data operation techniques learned in the [first lab session](https://goo.gl/Sg4FS1) on the new dataset. You don't need to explain all the procedures as we did in the notebook, but you are expected to provide some **minimal comments** explaining your code. You are also expected to use the same libraries used in the first lab session. You are allowed to use and modify the `helper` functions we provided in the first lab session or create your own. Also, be aware that the helper functions may need modification as you are dealing with a completely different dataset. This part is worth 80% of your grade!


- After you have completed the operations, you should attempt the **bonus exercises** provided in the [notebook](https://goo.gl/Sg4FS1) we used for the first lab session. There are six (6) additional exercises; attempt them all, as it is part of your grade (10%). 


- You are also expected to tidy up your notebook and attempt new data operations that you have learned so far in the Data Mining course. Surprise us! This segment is worth 10% of your grade.


- After completing all the above tasks, you are free to remove this header block and submit your assignment following the guide provided in the `README.md` file of the assignment's [repository](https://github.com/omarsar/data_mining_hw_1).

# Dataset Information

Sentiments Labelled

This dataset was created for the paper 'From Group to Individual Labels using Deep Features'

It uses a sentence score, either 1 or 0 to determine if the sentence is positive or negative, respectively. They were selected from three different websites. No neutral sentences were intended for selection.

# 0. Importing Libraries

In [1]:
# necessary for when working with external scripts
%load_ext autoreload
%autoreload 2

In [18]:
import pandas as pd
import numpy as np
import nltk


from sklearn.datasets import fetch_20newsgroups
from sklearn.datasets import load_files
from sklearn.feature_extraction.text import CountVectorizer
import plotly.plotly as py
import plotly.graph_objs as go
import math
%matplotlib inline

# my functions
import helpers.data_mining_helpers as dmh
import helpers.text_analysis as ta

# 1. Data Source

# 2. Preparing the Data

First let's load some data and see if it works well.

In [127]:
imdb = pd.read_csv("data/imdb_labelled.txt", header=0, sep='\t',quoting=3, names = ["Sentence","Score"])

In [128]:
print (imdb)

                                              Sentence  Score
0    Not sure who was more lost - the flat characte...      0
1    Attempting artiness with black & white and cle...      0
2         Very little music or anything to speak of.        0
3    The best scene in the movie was when Gerardo i...      1
4    The rest of the movie lacks art, charm, meanin...      0
5                                  Wasted two hours.        0
6    Saw the movie today and thought it was a good ...      1
7                                 A bit predictable.        0
8    Loved the casting of Jimmy Buffet as the scien...      1
9                 And those baby owls were adorable.        1
10   The movie showed a lot of Florida at it's best...      1
11   The Songs Were The Best And The Muppets Were S...      1
12                                   It Was So Cool.        1
13   This is a very "right on case" movie that deli...      1
14   It had some average acting from the main perso...      0
15   This review is long overdue, since I consider ...      1
16   I'll put this gem up against any movie in term...      1
17   It's practically perfect in all of them Â– a tr...      1
18   " The structure of this film is easily the mos...      1
19   I can think of no other film where something v...      1
20   In other words, the content level of this film...      1
21   How can anyone in their right mind ask for any...      1
22   It's quite simply the highest, most superlativ...      1
23   Yes, this film does require a rather significa...      1
24       This short film certainly pulls no punches.        0
25   Graphics is far from the best part of the game.        0
26   This is the number one best TH game in the ser...      1
27                          It deserves strong love.        1
28                             It is an insane game.        1
29   There are massive levels, massive unlockable c...      1
..                                                 ...    ...
969  Enough can not be said of the remarkable anima...      1
970  The art style has the appearance of crayon/pen...      1
971  If you act in such a film, you should be glad ...      0
972  This one wants to surf on the small wave of sp...      0
973  If you haven't choked in your own vomit by the...      0
974  Still, it makes up for all of this with a supe...      1
975  Just consider the excellent story, solid actin...      1
976  Instead, we got a bore fest about a whiny, spo...      0
977  Then I watched it again two Sundays ago (March...      1
978       It is a very well acted and done TV Movie.        1
979  Judith Light is one of my favorite actresses a...      1
980                I keep watching it over and over.        1
981                 It's a sad movie, but very good.        1
982  If you have not seen this movie, I definitely ...      1
983           She is as lovely as usual, this cutie!        1
984  Still it's quite interesting and entertaining ...      1
985                    ;) Recommend with confidence!        1
986  This movie is well-balanced with comedy and dr...      1
987  It was a riot to see Hugo Weaving play a sex-o...      1
988  :) Anyway, the plot flowed smoothly and the ma...      1
989  The opening sequence of this gem is a classic,...      1
990             Fans of the genre will be in heaven.        1
991                Lange had become a great actress.        1
992                It looked like a wonderful story.        1
993            I never walked out of a movie faster.        0
994  I just got bored watching Jessice Lange take h...      0
995  Unfortunately, any virtue in this film's produ...      0
996                   In a word, it is embarrassing.        0
997                               Exceptionally bad!        0
998  All in all its an insult to one's intelligence...      0

[999 rows x 2 columns]

In [106]:
len(imdb)

999

In [107]:
print(imdb.shape)

(999, 2)

In [108]:
imdb[0:10]

                                            Sentence  Score
0  Not sure who was more lost - the flat characte...      0
1  Attempting artiness with black & white and cle...      0
2       Very little music or anything to speak of.        0
3  The best scene in the movie was when Gerardo i...      1
4  The rest of the movie lacks art, charm, meanin...      0
5                                Wasted two hours.        0
6  Saw the movie today and thought it was a good ...      1
7                               A bit predictable.        0
8  Loved the casting of Jimmy Buffet as the scien...      1
9               And those baby owls were adorable.        1

In [111]:
imdb.sample(n=25)

                                              Sentence  Score
41   Not only did it only confirm that the film wou...      0
767  PS the only scene in the movie that was cool i...      1
914  I didn't realize how wonderful the short reall...      1
10   The movie showed a lot of Florida at it's best...      1
890            Now this is a movie I really dislike.        0
330  For those that haven't seen it, don't waste yo...      0
329  The hockey scenes are terrible, defensemen pla...      0
986  This movie is well-balanced with comedy and dr...      1
467  I knew when I saw the film that more great thi...      1
805                     The worst one of the series.        0
79   I'm glad this pretentious piece of s*** didn't...      0
980                I keep watching it over and over.        1
141  It is an hour and half waste of time, followin...      0
724                             Avoid, avoid, avoid!        0
685                      This is just a great movie.        1
590  Which is precisely why I am giving it such a b...      0
801  Star Trek V The final Frontier is the worst in...      0
59                   I sat riveted to the TV screen.        1
611  The characters are interesting and you want to...      1
788                   This is an extraordinary film.        1
883  This is probably one of the least effective an...      0
142  You can't relate with them, hell you barely ca...      0
739         I just saw this film and I recommend it.        1
793                Predictable, but not a bad watch.        1
695  Well... Just if you keep thinking how bad it i...      0

In [114]:
print(imdb.Sentence[0])

Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.

In [113]:
print(imdb.Score[0])

0

In [126]:
imdb.Score[:10]

0    0
1    0
2    0
3    1
4    0
5    0
6    1
7    0
8    1
9    1
Name: Score, dtype: int64

# 3. Checking the Data with Pandas

In [187]:
imdb['Score']

0      0
1      0
2      0
3      1
4      0
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     1
14     0
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     0
25     0
26     1
27     1
28     1
29     1
      ..
969    1
970    1
971    0
972    0
973    0
974    1
975    1
976    0
977    1
978    1
979    1
980    1
981    1
982    1
983    1
984    1
985    1
986    1
987    1
988    1
989    1
990    1
991    1
992    1
993    0
994    0
995    0
996    0
997    0
998    0
Name: Score, Length: 999, dtype: int64

In [168]:
X = pd.DataFrame.from_records(dmh.format_rows(imdb), columns= ['Scores'])

In [167]:
len(X)

2

In [172]:
imdb[0:10][["Sentence","Score"]]

                                            Sentence  Score
0  Not sure who was more lost - the flat characte...      0
1  Attempting artiness with black & white and cle...      0
2       Very little music or anything to speak of.        0
3  The best scene in the movie was when Gerardo i...      1
4  The rest of the movie lacks art, charm, meanin...      0
5                                Wasted two hours.        0
6  Saw the movie today and thought it was a good ...      1
7                               A bit predictable.        0
8  Loved the casting of Jimmy Buffet as the scien...      1
9               And those baby owls were adorable.        1

In [173]:
imdb[-11:-1]

                                              Sentence  Score
988  :) Anyway, the plot flowed smoothly and the ma...      1
989  The opening sequence of this gem is a classic,...      1
990             Fans of the genre will be in heaven.        1
991                Lange had become a great actress.        1
992                It looked like a wonderful story.        1
993            I never walked out of a movie faster.        0
994  I just got bored watching Jessice Lange take h...      0
995  Unfortunately, any virtue in this film's produ...      0
996                   In a word, it is embarrassing.        0
997                               Exceptionally bad!        0

In [174]:
imdb.iloc[::10, :][0:10]

                                             Sentence  Score
0   Not sure who was more lost - the flat characte...      0
10  The movie showed a lot of Florida at it's best...      1
20  In other words, the content level of this film...      1
30                   Waste your money on this game.        1
40               I wasn't the least bit interested.        0
50  In addition to having one of the most lovely s...      1
60  All in all I give this one a resounding 9 out ...      1
70  Often the dialogue doesn't really follow from ...      0
80  This if the first movie I've given a 10 to in ...      1
90                      The problem was the script.        0

# 4. Data Mining

In [135]:
imdb.isnull()

     Sentence  Score
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
5       False  False
6       False  False
7       False  False
8       False  False
9       False  False
10      False  False
11      False  False
12      False  False
13      False  False
14      False  False
15      False  False
16      False  False
17      False  False
18      False  False
19      False  False
20      False  False
21      False  False
22      False  False
23      False  False
24      False  False
25      False  False
26      False  False
27      False  False
28      False  False
29      False  False
..        ...    ...
969     False  False
970     False  False
971     False  False
972     False  False
973     False  False
974     False  False
975     False  False
976     False  False
977     False  False
978     False  False
979     False  False
980     False  False
981     False  False
982     False  False
983     False  False
984     False  False
985     False  False
986     False  False
987     False  False
988     False  False
989     False  False
990     False  False
991     False  False
992     False  False
993     False  False
994     False  False
995     False  False
996     False  False
997     False  False
998     False  False

[999 rows x 2 columns]

In [136]:
imdb.isnull().apply(lambda x: dmh.check_missing_values(x))

Sentence    (The amoung of missing records is: , 0)
Score       (The amoung of missing records is: , 0)
dtype: object

In [161]:
dummy = pd.Series(["dummy_record", ""], index=["Sentence", "Score"])

In [162]:
dummy

Sentence    dummy_record
Score
dtype: object

In [163]:
result_with_series = imdb.append(dummy, ignore_index=True)

In [164]:
len(result_with_series)

1000

In [165]:
result_with_series.isnull().apply(lambda x: dmh.check_missing_values(x))

Sentence    (The amoung of missing records is: , 0)
Score       (The amoung of missing records is: , 0)
dtype: object